
// Converted Variables


// Custom Media Query Variables


/*　sircus-tools-responsive-space(md)
======================================== */

@media #{$g-viewport-md} {
  .t-md-ma0    { margin: 0 !important; }
  .t-md-maMi   { margin: $g-space-mi !important; }
  .t-md-maTn   { margin: $g-space-tn !important; }
  .t-md-maXs   { margin: $g-space-xs !important; }
  .t-md-maSm   { margin: $g-space-sm !important; }
  .t-md-maMd   { margin: $g-space-md !important; }
  .t-md-maLg   { margin: $g-space-lg !important; }
  .t-md-maXl   { margin: $g-space-xl !important; }
  .t-md-maHg   { margin: $g-space-hg !important; }
  .t-md-maGt   { margin: $g-space-gt !important; }

  .t-md-mt0    { margin-top: 0 !important; }
  .t-md-mtMi   { margin-top: $g-space-mi !important; }
  .t-md-mtTn   { margin-top: $g-space-tn !important; }
  .t-md-mtXs   { margin-top: $g-space-xs !important; }
  .t-md-mtSm   { margin-top: $g-space-sm !important; }
  .t-md-mtMd   { margin-top: $g-space-md !important; }
  .t-md-mtLg   { margin-top: $g-space-lg !important; }
  .t-md-mtXl   { margin-top: $g-space-xl !important; }
  .t-md-mtHg   { margin-top: $g-space-hg !important; }
  .t-md-mtGt   { margin-top: $g-space-gt !important; }

  .t-md-mb0    { margin-bottom: 0 !important; }
  .t-md-mbMi   { margin-bottom: $g-space-mi !important; }
  .t-md-mbTn   { margin-bottom: $g-space-tn !important; }
  .t-md-mbXs   { margin-bottom: $g-space-xs !important; }
  .t-md-mbSm   { margin-bottom: $g-space-sm !important; }
  .t-md-mbMd   { margin-bottom: $g-space-md !important; }
  .t-md-mbLg   { margin-bottom: $g-space-lg !important; }
  .t-md-mbXl   { margin-bottom: $g-space-xl !important; }
  .t-md-mbHg   { margin-bottom: $g-space-hg !important; }
  .t-md-mbGt   { margin-bottom: $g-space-gt !important; }

  .t-md-pa0    { padding: 0 !important; }
  .t-md-paMi   { padding: $g-space-mi !important; }
  .t-md-paTn   { padding: $g-space-tn !important; }
  .t-md-paXs   { padding: $g-space-xs !important; }
  .t-md-paSm   { padding: $g-space-sm !important; }
  .t-md-paMd   { padding: $g-space-md !important; }
  .t-md-paLg   { padding: $g-space-lg !important; }
  .t-md-paXl   { padding: $g-space-xl !important; }
  .t-md-paHg   { padding: $g-space-hg !important; }
  .t-md-paGt   { padding: $g-space-gt !important; }

  .t-md-pt0    { padding-top: 0 !important; }
  .t-md-ptMi   { padding-top: $g-space-mi !important; }
  .t-md-ptTn   { padding-top: $g-space-tn !important; }
  .t-md-ptXs   { padding-top: $g-space-xs !important; }
  .t-md-ptSm   { padding-top: $g-space-sm !important; }
  .t-md-ptMd   { padding-top: $g-space-md !important; }
  .t-md-ptLg   { padding-top: $g-space-lg !important; }
  .t-md-ptXl   { padding-top: $g-space-xl !important; }
  .t-md-ptHg   { padding-top: $g-space-hg !important; }
  .t-md-ptGt   { padding-top: $g-space-gt !important; }

  .t-md-pb0    { padding-bottom: 0 !important; }
  .t-md-pbMi   { padding-bottom: $g-space-mi !important; }
  .t-md-pbTn   { padding-bottom: $g-space-tn !important; }
  .t-md-pbXs   { padding-bottom: $g-space-xs !important; }
  .t-md-pbSm   { padding-bottom: $g-space-sm !important; }
  .t-md-pbMd   { padding-bottom: $g-space-md !important; }
  .t-md-pbLg   { padding-bottom: $g-space-lg !important; }
  .t-md-pbXl   { padding-bottom: $g-space-xl !important; }
  .t-md-pbHg   { padding-bottom: $g-space-hg !important; }
  .t-md-pbGt   { padding-bottom: $g-space-gt !important; }
}