/*　sircus-tools-space-responsive(sm)
======================================== */

@media #{$g-viewport-sm} {
  .t-sm-ma0    { margin: 0; }
  .t-sm-maMi   { margin: $g-space-mi; }
  .t-sm-maTn   { margin: $g-space-tn; }
  .t-sm-maXs   { margin: $g-space-xs; }
  .t-sm-maSm   { margin: $g-space-sm; }
  .t-sm-maMd   { margin: $g-space-md; }
  .t-sm-maLg   { margin: $g-space-lg; }
  .t-sm-maXl   { margin: $g-space-xl; }
  .t-sm-maHg   { margin: $g-space-hg; }
  .t-sm-maGt   { margin: $g-space-gt; }

  .t-sm-mt0    { margin-top: 0; }
  .t-sm-mtMi   { margin-top: $g-space-mi; }
  .t-sm-mtTn   { margin-top: $g-space-tn; }
  .t-sm-mtXs   { margin-top: $g-space-xs; }
  .t-sm-mtSm   { margin-top: $g-space-sm; }
  .t-sm-mtMd   { margin-top: $g-space-md; }
  .t-sm-mtLg   { margin-top: $g-space-lg; }
  .t-sm-mtXl   { margin-top: $g-space-xl; }
  .t-sm-mtHg   { margin-top: $g-space-hg; }
  .t-sm-mtGt   { margin-top: $g-space-gt; }

  .t-sm-mb0    { margin-bottom: 0; }
  .t-sm-mbMi   { margin-bottom: $g-space-mi; }
  .t-sm-mbTn   { margin-bottom: $g-space-tn; }
  .t-sm-mbXs   { margin-bottom: $g-space-xs; }
  .t-sm-mbSm   { margin-bottom: $g-space-sm; }
  .t-sm-mbMd   { margin-bottom: $g-space-md; }
  .t-sm-mbLg   { margin-bottom: $g-space-lg; }
  .t-sm-mbXl   { margin-bottom: $g-space-xl; }
  .t-sm-mbHg   { margin-bottom: $g-space-hg; }
  .t-sm-mbGt   { margin-bottom: $g-space-gt; }

  .t-sm-pa0    { padding: 0; }
  .t-sm-paMi   { padding: $g-space-mi; }
  .t-sm-paTn   { padding: $g-space-tn; }
  .t-sm-paXs   { padding: $g-space-xs; }
  .t-sm-paSm   { padding: $g-space-sm; }
  .t-sm-paMd   { padding: $g-space-md; }
  .t-sm-paLg   { padding: $g-space-lg; }
  .t-sm-paXl   { padding: $g-space-xl; }
  .t-sm-paHg   { padding: $g-space-hg; }
  .t-sm-paGt   { padding: $g-space-gt; }

  .t-sm-pt0    { padding-top: 0; }
  .t-sm-ptMi   { padding-top: $g-space-mi; }
  .t-sm-ptTn   { padding-top: $g-space-tn; }
  .t-sm-ptXs   { padding-top: $g-space-xs; }
  .t-sm-ptSm   { padding-top: $g-space-sm; }
  .t-sm-ptMd   { padding-top: $g-space-md; }
  .t-sm-ptLg   { padding-top: $g-space-lg; }
  .t-sm-ptXl   { padding-top: $g-space-xl; }
  .t-sm-ptHg   { padding-top: $g-space-hg; }
  .t-sm-ptGt   { padding-top: $g-space-gt; }

  .t-sm-pb0    { padding-bottom: 0; }
  .t-sm-pbMi   { padding-bottom: $g-space-mi; }
  .t-sm-pbTn   { padding-bottom: $g-space-tn; }
  .t-sm-pbXs   { padding-bottom: $g-space-xs; }
  .t-sm-pbSm   { padding-bottom: $g-space-sm; }
  .t-sm-pbMd   { padding-bottom: $g-space-md; }
  .t-sm-pbLg   { padding-bottom: $g-space-lg; }
  .t-sm-pbXl   { padding-bottom: $g-space-xl; }
  .t-sm-pbHg   { padding-bottom: $g-space-hg; }
  .t-sm-pbGt   { padding-bottom: $g-space-gt; }
}
