
// Converted Variables


// Custom Media Query Variables


/*　sircus-tools-responsive-space
======================================== */
@media #{$g-viewport-sm} {
  .t-sm-ma0    { margin: 0 !important; }
  .t-sm-maMi   { margin: $g-space-mi !important; }
  .t-sm-maTn   { margin: $g-space-tn !important; }
  .t-sm-maXs   { margin: $g-space-xs !important; }
  .t-sm-maSm   { margin: $g-space-sm !important; }
  .t-sm-maMd   { margin: $g-space-md !important; }
  .t-sm-maLg   { margin: $g-space-lg !important; }
  .t-sm-maXl   { margin: $g-space-xl !important; }
  .t-sm-maHg   { margin: $g-space-hg !important; }
  .t-sm-maGt   { margin: $g-space-gt !important; }


  .t-sm-mt0    { margin-top: 0 !important; }
  .t-sm-mtMi   { margin-top: $g-space-mi !important; }
  .t-sm-mtTn   { margin-top: $g-space-tn !important; }
  .t-sm-mtXs   { margin-top: $g-space-xs !important; }
  .t-sm-mtSm   { margin-top: $g-space-sm !important; }
  .t-sm-mtMd   { margin-top: $g-space-md !important; }
  .t-sm-mtLg   { margin-top: $g-space-lg !important; }
  .t-sm-mtXl   { margin-top: $g-space-xl !important; }
  .t-sm-mtHg   { margin-top: $g-space-hg !important; }
  .t-sm-mtGt   { margin-top: $g-space-gt !important; }


  .t-sm-mb0    { margin-bottom: 0 !important; }
  .t-sm-mbMi   { margin-bottom: $g-space-mi !important; }
  .t-sm-mbTn   { margin-bottom: $g-space-tn !important; }
  .t-sm-mbXs   { margin-bottom: $g-space-xs !important; }
  .t-sm-mbSm   { margin-bottom: $g-space-sm !important; }
  .t-sm-mbMd   { margin-bottom: $g-space-md !important; }
  .t-sm-mbLg   { margin-bottom: $g-space-lg !important; }
  .t-sm-mbXl   { margin-bottom: $g-space-xl !important; }
  .t-sm-mbHg   { margin-bottom: $g-space-hg !important; }
  .t-sm-mbGt   { margin-bottom: $g-space-gt !important; }


  .t-sm-pa0    { padding: 0 !important; }
  .t-sm-paMi   { padding: $g-space-mi !important; }
  .t-sm-paTn   { padding: $g-space-tn !important; }
  .t-sm-paXs   { padding: $g-space-xs !important; }
  .t-sm-paSm   { padding: $g-space-sm !important; }
  .t-sm-paMd   { padding: $g-space-md !important; }
  .t-sm-paLg   { padding: $g-space-lg !important; }
  .t-sm-paXl   { padding: $g-space-xl !important; }
  .t-sm-paHg   { padding: $g-space-hg !important; }
  .t-sm-paGt   { padding: $g-space-gt !important; }


  .t-sm-pt0    { padding-top: 0 !important; }
  .t-sm-ptMi   { padding-top: $g-space-mi !important; }
  .t-sm-ptTn   { padding-top: $g-space-tn !important; }
  .t-sm-ptXs   { padding-top: $g-space-xs !important; }
  .t-sm-ptSm   { padding-top: $g-space-sm !important; }
  .t-sm-ptMd   { padding-top: $g-space-md !important; }
  .t-sm-ptLg   { padding-top: $g-space-lg !important; }
  .t-sm-ptXl   { padding-top: $g-space-xl !important; }
  .t-sm-ptHg   { padding-top: $g-space-hg !important; }
  .t-sm-ptGt   { padding-top: $g-space-gt !important; }


  .t-sm-pb0    { padding-bottom: 0 !important; }
  .t-sm-pbMi   { padding-bottom: $g-space-mi !important; }
  .t-sm-pbTn   { padding-bottom: $g-space-tn !important; }
  .t-sm-pbXs   { padding-bottom: $g-space-xs !important; }
  .t-sm-pbSm   { padding-bottom: $g-space-sm !important; }
  .t-sm-pbMd   { padding-bottom: $g-space-md !important; }
  .t-sm-pbLg   { padding-bottom: $g-space-lg !important; }
  .t-sm-pbXl   { padding-bottom: $g-space-xl !important; }
  .t-sm-pbHg   { padding-bottom: $g-space-hg !important; }
  .t-sm-pbGt   { padding-bottom: $g-space-gt !important; }
}


@media #{$g-viewport-md} {
  .t-md-ma0    { margin: 0 !important; }
  .t-md-maMi   { margin: $g-space-mi !important; }
  .t-md-maTn   { margin: $g-space-tn !important; }
  .t-md-maXs   { margin: $g-space-xs !important; }
  .t-md-maSm   { margin: $g-space-sm !important; }
  .t-md-maMd   { margin: $g-space-md !important; }
  .t-md-maLg   { margin: $g-space-lg !important; }
  .t-md-maXl   { margin: $g-space-xl !important; }
  .t-md-maHg   { margin: $g-space-hg !important; }
  .t-md-maGt   { margin: $g-space-gt !important; }


  .t-md-mt0    { margin-top: 0 !important; }
  .t-md-mtMi   { margin-top: $g-space-mi !important; }
  .t-md-mtTn   { margin-top: $g-space-tn !important; }
  .t-md-mtXs   { margin-top: $g-space-xs !important; }
  .t-md-mtSm   { margin-top: $g-space-sm !important; }
  .t-md-mtMd   { margin-top: $g-space-md !important; }
  .t-md-mtLg   { margin-top: $g-space-lg !important; }
  .t-md-mtXl   { margin-top: $g-space-xl !important; }
  .t-md-mtHg   { margin-top: $g-space-hg !important; }
  .t-md-mtGt   { margin-top: $g-space-gt !important; }


  .t-md-mb0    { margin-bottom: 0 !important; }
  .t-md-mbMi   { margin-bottom: $g-space-mi !important; }
  .t-md-mbTn   { margin-bottom: $g-space-tn !important; }
  .t-md-mbXs   { margin-bottom: $g-space-xs !important; }
  .t-md-mbSm   { margin-bottom: $g-space-sm !important; }
  .t-md-mbMd   { margin-bottom: $g-space-md !important; }
  .t-md-mbLg   { margin-bottom: $g-space-lg !important; }
  .t-md-mbXl   { margin-bottom: $g-space-xl !important; }
  .t-md-mbHg   { margin-bottom: $g-space-hg !important; }
  .t-md-mbGt   { margin-bottom: $g-space-gt !important; }


  .t-md-pa0    { padding: 0 !important; }
  .t-md-paMi   { padding: $g-space-mi !important; }
  .t-md-paTn   { padding: $g-space-tn !important; }
  .t-md-paXs   { padding: $g-space-xs !important; }
  .t-md-paSm   { padding: $g-space-sm !important; }
  .t-md-paMd   { padding: $g-space-md !important; }
  .t-md-paLg   { padding: $g-space-lg !important; }
  .t-md-paXl   { padding: $g-space-xl !important; }
  .t-md-paHg   { padding: $g-space-hg !important; }
  .t-md-paGt   { padding: $g-space-gt !important; }


  .t-md-pt0    { padding-top: 0 !important; }
  .t-md-ptMi   { padding-top: $g-space-mi !important; }
  .t-md-ptTn   { padding-top: $g-space-tn !important; }
  .t-md-ptXs   { padding-top: $g-space-xs !important; }
  .t-md-ptSm   { padding-top: $g-space-sm !important; }
  .t-md-ptMd   { padding-top: $g-space-md !important; }
  .t-md-ptLg   { padding-top: $g-space-lg !important; }
  .t-md-ptXl   { padding-top: $g-space-xl !important; }
  .t-md-ptHg   { padding-top: $g-space-hg !important; }
  .t-md-ptGt   { padding-top: $g-space-gt !important; }


  .t-md-pb0    { padding-bottom: 0 !important; }
  .t-md-pbMi   { padding-bottom: $g-space-mi !important; }
  .t-md-pbTn   { padding-bottom: $g-space-tn !important; }
  .t-md-pbXs   { padding-bottom: $g-space-xs !important; }
  .t-md-pbSm   { padding-bottom: $g-space-sm !important; }
  .t-md-pbMd   { padding-bottom: $g-space-md !important; }
  .t-md-pbLg   { padding-bottom: $g-space-lg !important; }
  .t-md-pbXl   { padding-bottom: $g-space-xl !important; }
  .t-md-pbHg   { padding-bottom: $g-space-hg !important; }
  .t-md-pbGt   { padding-bottom: $g-space-gt !important; }
}

@media #{$g-viewport-lg} {
  .t-lg-ma0    { margin: 0 !important; }
  .t-lg-maMi   { margin: $g-space-mi !important; }
  .t-lg-maTn   { margin: $g-space-tn !important; }
  .t-lg-maXs   { margin: $g-space-xs !important; }
  .t-lg-maSm   { margin: $g-space-sm !important; }
  .t-lg-maMd   { margin: $g-space-md !important; }
  .t-lg-maLg   { margin: $g-space-lg !important; }
  .t-lg-maXl   { margin: $g-space-xl !important; }
  .t-lg-maHg   { margin: $g-space-hg !important; }
  .t-lg-maGt   { margin: $g-space-gt !important; }


  .t-lg-mt0    { margin-top: 0 !important; }
  .t-lg-mtMi   { margin-top: $g-space-mi !important; }
  .t-lg-mtTn   { margin-top: $g-space-tn !important; }
  .t-lg-mtXs   { margin-top: $g-space-xs !important; }
  .t-lg-mtSm   { margin-top: $g-space-sm !important; }
  .t-lg-mtMd   { margin-top: $g-space-md !important; }
  .t-lg-mtLg   { margin-top: $g-space-lg !important; }
  .t-lg-mtXl   { margin-top: $g-space-xl !important; }
  .t-lg-mtHg   { margin-top: $g-space-hg !important; }
  .t-lg-mtGt   { margin-top: $g-space-gt !important; }


  .t-lg-mb0    { margin-bottom: 0 !important; }
  .t-lg-mbMi   { margin-bottom: $g-space-mi !important; }
  .t-lg-mbTn   { margin-bottom: $g-space-tn !important; }
  .t-lg-mbXs   { margin-bottom: $g-space-xs !important; }
  .t-lg-mbSm   { margin-bottom: $g-space-sm !important; }
  .t-lg-mbMd   { margin-bottom: $g-space-md !important; }
  .t-lg-mbLg   { margin-bottom: $g-space-lg !important; }
  .t-lg-mbXl   { margin-bottom: $g-space-xl !important; }
  .t-lg-mbHg   { margin-bottom: $g-space-hg !important; }
  .t-lg-mbGt   { margin-bottom: $g-space-gt !important; }


  .t-lg-pa0    { padding: 0 !important; }
  .t-lg-paMi   { padding: $g-space-mi !important; }
  .t-lg-paTn   { padding: $g-space-tn !important; }
  .t-lg-paXs   { padding: $g-space-xs !important; }
  .t-lg-paSm   { padding: $g-space-sm !important; }
  .t-lg-paMd   { padding: $g-space-md !important; }
  .t-lg-paLg   { padding: $g-space-lg !important; }
  .t-lg-paXl   { padding: $g-space-xl !important; }
  .t-lg-paHg   { padding: $g-space-hg !important; }
  .t-lg-paGt   { padding: $g-space-gt !important; }


  .t-lg-pt0    { padding-top: 0 !important; }
  .t-lg-ptMi   { padding-top: $g-space-mi !important; }
  .t-lg-ptTn   { padding-top: $g-space-tn !important; }
  .t-lg-ptXs   { padding-top: $g-space-xs !important; }
  .t-lg-ptSm   { padding-top: $g-space-sm !important; }
  .t-lg-ptMd   { padding-top: $g-space-md !important; }
  .t-lg-ptLg   { padding-top: $g-space-lg !important; }
  .t-lg-ptXl   { padding-top: $g-space-xl !important; }
  .t-lg-ptHg   { padding-top: $g-space-hg !important; }
  .t-lg-ptGt   { padding-top: $g-space-gt !important; }


  .t-lg-pb0    { padding-bottom: 0 !important; }
  .t-lg-pbMi   { padding-bottom: $g-space-mi !important; }
  .t-lg-pbTn   { padding-bottom: $g-space-tn !important; }
  .t-lg-pbXs   { padding-bottom: $g-space-xs !important; }
  .t-lg-pbSm   { padding-bottom: $g-space-sm !important; }
  .t-lg-pbMd   { padding-bottom: $g-space-md !important; }
  .t-lg-pbLg   { padding-bottom: $g-space-lg !important; }
  .t-lg-pbXl   { padding-bottom: $g-space-xl !important; }
  .t-lg-pbHg   { padding-bottom: $g-space-hg !important; }
  .t-lg-pbGt   { padding-bottom: $g-space-gt !important; }
}
